<div class="article_card" id="{{id}}">
    <img src="{{photo}}" alt="Article image" class="article_image">
    <strong class="article_title">{{name}}</strong>
    <p>{{description}}</p>
    <a href="#" class="article_card_button">Read All</a>
</div>